<!DOCTYPE html>
<html lang="pt-br">
<%- include("../components/head") %>

<body class="container">
  <%- include("../components/header", {pagina: "sobre"}) %>

  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Oi sou Zaiko Xander estudante de programação</p>
    </div>
  </main>
  <%- include("../components/footer") %> 
  
</body>
</html>